/*Some necessary adjustments*/
h1,
body,
html,
main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url(../images/soup.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0;
  padding: 0;
}
.header h1 {
  color: white;
  text-align: center;
  font-size: 4.5em;
  margin: 0;
  padding: 150px;
}

.desc {
  text-align: justify;
  margin: 40px 250px 20px;
  padding: 10px;
}

img {
  width: 40%;
  height: 40%;
  margin: 20px 220px;
}
/*
.text {
  font-size: 1.2em;
}
*/

h2 {
  font-size: 2em;
}

.line {
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
}
ul li:before {
  content: "-";
}

ol li:before {
  content: ")";
}
